:root {
  --primary-color: #EF6498;
  --primary-color-opacity-5:rgba(255, 204, 223, 0.5);
  --primary-text:#E74C3C;
  --secondary-color: #5C347C;
  --secondary-color-1:rgba(175, 113, 200, 1);
  --secondary-color-2:#9B59B6;
  --yellow-color:#FDC040;
  --background-color: #f8f9fa;
  --black:#1E1E1E;
  --gray:#E4E7E9;
}