$font-family-light: 'Dubai-Light',
    sans-serif;
$font-family-base: 'Dubai-Regular',
    sans-serif;
$font-family-medium: 'Dubai-Medium',
    sans-serif;
$font-family-Bold: 'Dubai-Bold',
    sans-serif;